<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login To Team Account</title>
	<link rel="stylesheet" href="font-awesome-4/css/font-awesome.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="styler.css">
</head>
<body>
 <div class="ck-bgshade">
	<div class="ck-header">
	<div class="ck-logo  pt-2 pl-3 ">
				<h1><i><front>Work</front><line>Scheduler</line></i></h1>
			</div>
	<div class="ck-caption pb-2"><h5>Login to your Team Account</h5></div>
		
	</div>
	<div class="ck-section">
		<form action="" class="ck-form ck-login">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email" required>
			</div>
			<div class="form-group">
				<label for="pass">Password</label>
				<input type="password" class="form-control" id="pass" placeholder="Password" required>
			</div>
			<div class="form-group">
				<input type="submit" class="form-control btn btn-primary" value="Register">
			</div>
		</form>
	</div>
	<div class="ck-footer login">
		<footer>WorkScheduler &copy; 2018</footer>
	</div>
	</div>
	
</body>
</html>